{# Base Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link type="text/css" href="{{ asset('/css/cinema.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>

