body {
    font-family: arial, helvetica;
    font-size: 12px;
    background-color: #fafaaa;
}

/* Style des cellules de données */
td {
    font-family: arial, helvetica;
    font-size: 12px;
    padding: 10px; /* Ajustement de la marge intérieure */
    border: 1px solid #c7d8e5;
    color: #333;
    background-color: #eaf1f7;
}

/* Style des en-têtes de colonne */
th {
    font-family: arial, helvetica;
    font-size: 14px;
    background-color: #cbe3f3;
    padding: 10px; /* Ajustement de la marge intérieure */
    color: #4c2c00;
    font-weight: bold;
    border: 1px solid #acc7dd;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top:10px;
    margin-bottom: 2px;
}

/* Style de base pour le tableau */
table {
    margin-bottom: 15px;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ccc;
    width: 75%; /* Ajout d'une largeur pour remplir la largeur du conteneur */
}

/* Première et deuxième colonne */
table.std th:nth-child(-n+2),
table.std td:nth-child(-n+2) {
    width: 50%; /* Répartir équitablement l'espace restant entre les deux premières colonnes */
}

/* Colonnes 1-4 */
table.showtime th:nth-child(-n+4),
table.showtime td:nth-child(-n+4) {
    width: 25%;
}

/* Style des lignes ajoutées */
tr.new td {
    font-style: italic;
    border-width: 3px;
    border-style: dotted;
    border-color: dimgray;
    padding: 0px; /* Ajustement de la marge intérieure */
}

tr.new {
    border-bottom: 1px dotted #acc7dd;
    border-right: 1px dotted #acc7dd;
    border-top: 1px dotted #dceffd;
    border-left: 1px dotted #dceffd;
}

button.add {
    width: 100%;
    background: transparent;
    border: 0;
    font-style: italic;
    cursor: pointer;
}

button.add:hover{
    background: #cbe3f3;
}

button.add {
    width: 100%;
    background: transparent;
    border: 0;
    font-style: italic;
    cursor: pointer;
}

button.add:hover{
    background: #cbe3f3;
}

.error {
    color: #c00;
    margin-bottom: 10px;
}

button.add:hover{ 
    background: #cbe3f3; 
} 
 
.error { 
    color: #c00; 
    margin-bottom: 10px; 
}

input#modify { 
    background-image: url('../images/modifyIcon.png'); 
    background-color: transparent; 
    border: solid 0px transparent;
    width: 16px;
    height: 17px;
    cursor: pointer;
}